<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Ditching Synthetic Products | Noblemens",
  "url": "https://noblemens.net/articles/natural-living/ditching-synthetic-products"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://noblemens.net/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Articles",
      "item": "https://noblemens.net/articles"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "Natural Living",
      "item": "https://noblemens.net/articles/natural-living"
    },
    {
      "@type": "ListItem",
      "position": 4,
      "name": "Ditching Synthetic Products",
      "item": "https://noblemens.net/articles/natural-living/ditching-synthetic-products"
    }
  ]
}
</script>