<template id="product-card-template">
    <article class="card card-product">

        <a href="#" class="card__media">
            <img src="" alt="" />
        </a>

        <div class="card__body">

            <h3 class="text-heading-md product-title"></h3>

            <p class="card__description text-body text-muted product-description"></p>

            <div class="card__variants"></div>

            <div class="card__meta text-caption text-muted product-meta"></div>

            <div class="card__price"></div>

        </div>

        <div class="card__footer flex gap-2">
            <a href="#" class="btn btn-secondary product-link">View Product</a>
            <a href="#" class="btn btn-primary product-order">Order Now</a>
        </div>

    </article>
</template>